@model Capstone.Models.LocalFoods

@{
    ViewData["Title"] = "Details";
}

<h2>Food Details</h2>

<div>
    <h4>LocalFoods</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NutritionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NutritionalInfo)
        </dd>
        <dd>
            @Html.HiddenFor(model => model.FoodImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchTerm)
            <select id="Select1">
    <option>Sweet Potatoes</option>
    <option>Yams</option>
    <option>Corn</option>

</select>
        </dd>
    </dl>
</div>
<dd>

    <img src="~/@Model.FoodImage" height="250px" width="300px" />

</dd>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FoodID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    @*May need a reminder about how to do pathing..... slashes?  dots?*@
    <a asp-action="Home/Recipes"> See Recipes</a>
    
</div>
