@model Capstone.Models.Recipes

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingreients)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingreients)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonalIngredient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonalIngredient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Directions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Directions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NutritionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NutritionalInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecipeID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
