@model Capstone.Models.Recipes

@{
    ViewData["Title"] = "Recipe Details";
}

<h2>Details</h2>

<div>
    <h4>Recipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingreients)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingreients)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonalIngredient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonalIngredient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Directions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Directions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NutritionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NutritionalInfo)
        </dd>
        
        @Html.HiddenFor(model => model.Image)
        @Html.HiddenFor(model => model.ApplicationUser.Id)
    </dl>
</div>
<dd>

    <img src="~/@Model.Image" height="250px" width="300px" />

</dd>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
