@model IEnumerable<Capstone.Models.MealPlans>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
                
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeMatchID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>*@
            @Html.HiddenFor(modelItem => item.ApplicationUser.Id)
            @Html.HiddenFor(modelItem => item.Recipe.RecipeID)
            
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.MealPlanID">Add Recipe</a> |
                <a asp-action="Details" asp-route-id="@item.MealPlanID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MealPlanID">Delete</a>
            </td>

        </tr>
}
    </tbody>
</table>
