@model IEnumerable<Capstone.Models.LocalFoodRecipe>

@{
    ViewData["Title"] = "Index";
    Layout = "TagIngredient";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalFoods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalFoods.FoodID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocalFoodRecipeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocalFoodRecipeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocalFoodRecipeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
